@model ProjectDians.Models.ClientRecipe

@{ 
    ViewBag.Title = "InsertNewClient";
}

<h2>Insert new Client that liked the @Model.recipe.Name recipe.</h2>

@using (Html.BeginForm("InsertNewClient", "Recipes"))
{
<div class="form-group">
    @Html.DropDownListFor(m => m.ClientId,
    new SelectList(Model.Clients, "Id", "Name"),
    new { @class = "form-control" })
    @Html.HiddenFor(m => m.RecipeId)
</div>



<div class="form-group">

    <button type="submit">Add client</button>

</div>

}
